.u-section-2-1 .u-sheet-1 {
  min-height: 706px;
}

.u-section-2-1 .u-group-1 {
  width: 800px;
  min-height: 586px;
  margin: 60px auto;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-1 .u-text-1 {
  line-height: 2;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.u-section-2-1 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/220px-_1.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 245px;
}

.u-section-2-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 26px 0 0;
}

.u-section-2-1 .u-btn-1 {
  padding: 0;
}

.u-section-2-1 .u-btn-2 {
  padding: 0;
}

.u-section-2-1 .u-text-3 {
  font-size: 3.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2-1 .u-group-1 {
    min-height: 2524px;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2-1 .u-group-1 {
    width: 720px;
  }

  .u-section-2-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2-1 .u-text-3 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-2-1 .u-group-1 {
    width: 540px;
    min-height: 1515px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-2-1 .u-group-1 {
    width: 340px;
    min-height: 2392px;
  }
}.u-section-2-2 .u-sheet-1 {
  min-height: 706px;
}

.u-section-2-2 .u-group-1 {
  width: 800px;
  min-height: 586px;
  margin: 60px auto;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2-2 .u-text-1 {
  line-height: 2;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

.u-section-2-2 .u-image-1 {
  width: 250px;
  height: 250px;
  background-image: url("images/d0c01466d074d215ab58ce9b27006bea1.jpg");
  background-position: 50% 50%;
  margin: 30px auto 0 245px;
}

.u-section-2-2 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-weight: 100;
  margin: 20px 0 0;
}

.u-section-2-2 .u-text-3 {
  font-size: 3.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 30px 7px -10px -7px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 391px;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-2-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2-2 .u-text-3 {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-2-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 141px;
  }

  .u-section-2-2 .u-group-1 {
    width: 340px;
  }
}.u-section-1 {
  background-image: url("images/dddd-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 673px;
}

.u-section-1 .u-group-1 {
  width: 610px;
  min-height: 484px;
  margin: 94px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  line-height: 39.6px;
  animation-duration: 1000ms;
  margin: 160px -110px 0 103px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 555px;
  }

  .u-section-1 .u-group-1 {
    width: 522px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-1 .u-group-1 {
    width: 437px;
    min-height: 387px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 57.2% 25.53%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-1 .u-group-1 {
    width: 323px;
    min-height: 334px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 57.61% 20.64%;
    background-size: auto 125%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-1 .u-group-1 {
    width: 280px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}.u-block-74a2-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-74a2-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-74a2-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,1)), url("images/default-image.jpg?rand=cdee");
}

.u-section-3 .u-sheet-1 {
  min-height: 567px;
}

.u-section-3 .u-gallery-1 {
  height: 220px;
  grid-template-columns: auto auto auto auto auto;
  margin: 60px auto 0 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 20px 20px;
}

.u-section-3 .u-back-slide-1 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-2 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-2 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-3 {
  background-position: 50% 0%;
}

.u-section-3 .u-back-image-3 {
  object-position: 50% 0%;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-back-slide-4 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-gallery-item-5 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-3 .u-back-slide-5 {
  background-position: 50% 50%;
}

.u-section-3 .u-back-image-5 {
  object-position: 50% 50%;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 43px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
}

.u-section-3 .u-icon-3 {
  height: 100%;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 30px 78px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-3 .u-gallery-1 {
    height: 246px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(5, auto);
  }

  .u-section-3 .u-social-icons-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: 478px;
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-3 .u-gallery-1 {
    height: 628px;
    grid-template-columns: auto auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1060px;
    grid-template-columns: auto auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1567px;
  }

  .u-section-3 .u-gallery-1 {
    height: 2225px;
    grid-template-columns: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 799px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 694px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-form-1 {
  height: 441px;
  width: 605px;
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
}

.u-section-4 .u-btn-2 {
  font-size: 1rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -59px auto 0 145px;
  padding: 3px 31px 4px 30px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.2em;
  color: rgb(44, 204, 196) !important;
  animation-duration: 1000ms;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 679px;
  animation-duration: 1000ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 12px;
  margin: 52px 26px 0 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: 20px 288px 0 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 318px 0 0;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  animation-duration: 1000ms;
  margin: 30px auto 0 0;
}

.u-section-4 .u-text-5 {
  margin: 20px 318px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 572px;
  }

  .u-section-4 .u-form-1 {
    width: 488px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 30px;
    margin-bottom: -9px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 560px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 204px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 234px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 234px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 685px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-form-1 {
    width: 360px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 685px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 112px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 142px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-form-1 {
    width: 320px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }
}